body{
    background:#1a1a1a;
    color:#7a92b3;
    text-rendering:optimizeLegibility;
    margin:0;
    font:12pt "Calluna Sans",sans-serif;
    font-weight:300
}
body ::selection{background:#7a92b3; color:#67a9ff}
body a:link{color:#b3d4ff; text-decoration:none}
body a:visited{color:#b3d4ff}
body a:hover{color:#b3d4ff}
body a:active{color:#b3d4ff}
code,samp,kbd,command,var,pre{font:12pt Consolas,monaco,monospace}
h1,h2,h3,h4,h5,h6{font-family:"Calluna Sans",sans-serif;font-weight:300}
h1,h2{margin:32px 0 32px 0}
h3,h4,h5,h6{margin:24px 0 16px 0}
h1{font-size:2em}
h2{font-size:1.5em}
h3{font-size:1.17em}
p{margin:16px 0 16px 0}
strong{font-weight:600}
.nav{
    font-family:"Calluna Sans",sans-serif;
    font-size:12pt;
    display:block;
    margin:0 auto;
    text-align:center;
    margin:32px 0 16px
}
.nav a{margin-left:12px;margin-right:12px}
#site_header{
    position:relative;
    width:600px;
    margin:0 auto 64px;
    /*padding-top:24px;*/
    padding-top:184px;
    padding-bottom:0;
    /*border-bottom:1px solid #214a7f*/
}
#site_header #header_logo{display:block;margin:0 auto}
#site_footer{width:600px;border-top:1px solid #214a7f;margin:64px auto 64px;padding:12px 0 24px}
#site_footer .copyright{font-size:small}
#site_footer .site_nav{margin-top:4px;margin-bottom:24px}
#site_footer p{margin:12px auto 12px;text-align:center;font-size:12pt}#site_footer .twitter_logo{margin-right:3px}#container{width:600px;margin:0 auto 0;padding:0}.thumbnail_grid{width:612px;margin-bottom:48px}.thumbnail{width:192px;margin:32px 12px 0 0;display:inline-block;vertical-align:top}.thumbnail img{width:192px;height:192px}.thumbnail p{width:192px;margin:0;text-align:center}.resources h1,.resources h2,.resources h3{margin:32px 0 32px 0}.resources h3{text-decoration:underline}.resources ul{list-style:none outside none;margin:16px 0;padding:0}.resources ul li{margin:16px 0;padding:0}.about h1,.about h2{margin:32px 0 32px 0}.about .info_card{margin-bottom:32px}.about .question{margin-top:32px}.about .answer{margin-left:76px}.about .info_content{width:524px;margin-left:76px}.about .avatar{float:left;margin:0 12px 12px 0}.unity_game #container{width:800px;margin:auto;padding:10px}.unity_game #site_footer{width:800px}.unity_game #unityPlayer{width:800px;height:600px;margin:auto}.unity_game #missingScreen{margin-left:303.5px;margin-top:268.5px}.unity_game_wide #container{width:1024px;margin:auto;padding:10px}.unity_game_wide #site_footer{width:1024px}.unity_game_wide #unityPlayer{width:1024px;height:576px;margin:auto}.unity_game_wide #missingScreen{margin-left:415.5px;margin-top:256.5px}
